body {
  font-family: Arial, Verdana,  sans-serif; /* Семейство шрифтов */
  font-size: 11pt; /* Размер основного шрифта в пунктах  */
  background-color: #f0f0f0; /* Цвет фона веб-страницы */
  color: #333; /* Цвет основного текста */ 
}
h1 {
  color: #a52a2a; /* Цвет заголовка */
  font-size: 24pt; /* Размер шрифта в пунктах */
  font-family: Georgia, Times, serif; /* Семейство шрифтов */
  font-weight: normal; /* Нормальное начертание текста  */
}
p {
  text-align: justify; 
  margin-left: 60px; 
  margin-right: 10px; 
  border-left: 1px solid #999;
  border-bottom: 1px solid #999;
  padding-left: 10px;
  padding-bottom: 10px;
}

table {
  width: 300px; /* Ширина таблицы */
  border: 1px solid green; /* Рамка вокруг таблицы */
  margin: auto; /* Выравниваем таблицу по центру окна  */
  }
td {
    text-align: center; /* Выравниваем текст по центру ячейки */
   }
   
  